/* Your styles here */
body{
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}
header{
    background-color:black;
    padding: 25px auto;
}

header img{
    width: 150px;
    height: 50px;
    padding: 25px;
}
main{
    text-align: center;
    margin: 0 auto;
}

h1{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: xx-large;
    margin-bottom: 20px;
}

#banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding: 150px;
}

section a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    padding: 9px 36px;
    border: black 1px;
    border-radius: 5%;
    background-color:orangered;
    color: white;
    
}
.titolo{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 25px;
}

.testo{
    margin-bottom: 25px;
}

#centro {
    padding: 45px
}
#centro img{
    border-radius: 100%;
    padding: auto;
    display: inline;
    
}
#centro div{
    display: inline;
    text-align: left;
    

}
table{
    width: 100%;
}
table td{
    width: 50%;
    vertical-align: middle;
    padding: 40px;
}
#lista{
    width: 100%;
    margin: auto;
    text-align: center;
}
#lista td{
    width: 25%;
    height: 200px;
    padding: 0;
    margin: auto;
}
aside{
    margin-bottom: 150px;
    margin-top: 50px;
    width: 100%;
}

#last{
    color: white;
    padding: 35px;
    background-color: #e22d0e;
    margin-bottom: 50px;
    padding: 50px;
}
.titologrande{
    color: white;
    font-family: 'Montserrat', sans-serif ;
    line-height: 1.5;
    font-weight: bold;
    font-size: xx-large;
}
#corsivo{
    font-style: italic;
    font-size: smaller;
    font-weight:lighter;
    margin: 25px 0;
}
#piccolo{
    font-size: x-small;
    font-weight: lighter;
}
aside div{
    border: #dee1e3 1px solid;
    margin: 20px auto 20px auto;
    max-width: 70%;

}
aside img{
    max-width: 100%;
    margin-bottom: 5px;
}
footer{
    background-color: #25a2c3;
    padding: 25px 0 50px 0;
    text-align: center;
    color: #c8e7f0;
}
footer a{
    display: block;
    color: #c8e7f0;
    font-size: smaller;
    
}
#nonsottolineato{
    text-decoration: none;
}
hr{
    margin: 35px auto;
    max-width: 30%;
}
#inline{
    display: inline;
}

