body{
    background-image: url(../img/prova.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#calcolatrice {
    width: 400px;
    height: 430px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(1, 1, 18) 0%, rgba(125,125,163,1) 50%, rgb(1, 1, 18) 100%);
    border-radius: 10px;
    box-shadow: 3px 3px 13px #ff8000;
    margin: 0 auto;
    

}
#container{
    min-height: 55px;
}

.button {
    width: 64px;
    height: 44px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: rgb(129, 127, 150);
    font-size: 23px;
    text-align: center;
    margin: 4px;
    cursor: pointer;
    display: inline-block;    
}

#uguale {
    width: 140px;
    height: 44px;
    background-color: rgb(129, 127, 150)
}

h1{
    color: #000000;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(164, 164, 52), 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    font-size: 50px;
    margin: 0 auto;   
}

#display {
    width: 90%;
    height: 65px;
    background-color: rgb(129, 127, 150);
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 58px;
    text-align: right;
    padding: 15px;
    box-sizing: border-box;
    color: #ff8000;
    margin-top: 15px;
    margin-bottom: 11px;
    font-family: 'VT323', monospace;
}

img{
    width: 100px;
    height: 50px;
}

#mamma{
    width: 300px;
    height: 150px;
    margin-top: 20px;
    margin-left: 40px;
}

#spider {
    font-weight: bold;
    width: 204px;
    height: 60px;
    background-color: #ff8000;
    border: #000000 1px solid;
    border-radius: 100%;
    margin-top: 7px;
}

.button:hover, #uguale:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#spider:hover {
    color: #FFFFFF;
    background: #333333;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: #FFFFFF;
    cursor: pointer;
}